{{>headerlink}}
<body>

{{>navbar}}


<!-- main header -->

<div class="container-fluid main_header" >
    <div class="row">
        <div class="mx-auto col-md-10 col-12">
<div class="row">
    <!-- left div  -->
    <div class="col-md-12 col-12 main_header_left align-items-center">
        <figure class="errimg">
            <img src="assets/images/404.png" alt="Error page" class="img-fluid">
        </figure>


        
   
<p>Welcome To My page</p>
<h1>{{errmsg}}</h1>
<a href="/"><button>Go Back</button></a>
</div>

</div>


</div>
 </div>
</div>

{{>footer}}


{{>bottomlink}}
 
  </body>
</html>